* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: hsl(195, 37%, 39%);
    --color2: hsl(195, 53%, 79%);
    --color3: darkgray;
    --font1: sans-serif;
    font-size: 3vh;
    --size0: .4rem;
    --size1: .5rem;
}

.hidden {
    display: none;
}
